.admin caption            { background: #ccd; font-weight:bold; }
.admin tr                 { background:1px solid gray; }
.admin tr:nth-child(even) { background:#eee; }
.admin tr:nth-child(odd)  { background:#fff; }
.admin table              { margin-bottom:2ex; padding-bottom:2ex; }

.row tr:hover             { background:#ccf; cursor: pointer; }
.cell td:hover            { background:#ccf; cursor: pointer; }

body.tracker              { background:#f0f; }
.tracker table            { border-spacing:0px; padding:0px; }
.tracker table tr         { border-spacing:0px; padding:0px; }
.tracker table tr td      { border-spacing:0px; padding:0px; }

table tr td.inactive img { -webkit-filter: grayscale(100%) brightness(50%); filter: grayscale(100%) brightness(50%); }
